<section class="conteiner">
  <h2 class="titulo">Observadores - GDH Web</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">ID Observador</th>
      <th class="tabela__cabecalho__conteudo">CPF Observador</th>
      <th class="tabela__cabecalho__conteudo">Nome do Observador</th>
      <th class="tabela__cabecalho__conteudo">E-mail</th>
      <th class="tabela__cabecalho__conteudo">Organização</th>
    </thead >
    <tbody *ngIf="observadores?.length > 0; else listaVazia">
      <tr class="tabela__linha" *ngFor="let observador of observadores">
        <td class="tabela__linha__conteudo">{{observador._id}}</td>
        <td class="tabela__linha__conteudo">{{observador.cpf}}</td>
        <td class="tabela__linha__conteudo">{{observador.nome}}</td>
        <td class="tabela__linha__conteudo">{{observador.email}}</td>
        <td class="tabela__linha__conteudo">{{observador.org}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia>
    <p>Nenhuma transferência cadastrada</p>
  </ng-template>
</section>
