<section class="conteiner">
  <h2 class="titulo">Leituras Registradas - GDH Web</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Observador</th>
      <th class="tabela__cabecalho__conteudo">Código da Estação</th>
      <th class="tabela__cabecalho__conteudo">Leitura (cm)</th>
      <th class="tabela__cabecalho__conteudo">Dia da Leitura</th>
      <th class="tabela__cabecalho__conteudo">Hora da Leitura</th>
      <th class="tabela__cabecalho__conteudo">Data Registro</th>
      <th class="tabela__cabecalho__conteudo">Última Alteração</th>
    </thead >
    <tbody *ngIf="transferencias?.length > 0; else listaVazia">
      <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
        <td class="tabela__linha__conteudo">{{transferencia.observador.nome}}</td>
        <td class="tabela__linha__conteudo">{{transferencia.estacao}}</td>
        <td class="tabela__linha__conteudo">{{transferencia.leitura}}</td>
        <td class="tabela__linha__conteudo">{{transferencia.dialeitura | date: "shortDate"}}</td>
        <td class="tabela__linha__conteudo">{{transferencia.horaleitura}}</td>
        <td class="tabela__linha__conteudo">{{transferencia.createdAt | date: "short"}}</td>
        <td class="tabela__linha__conteudo">{{transferencia.updatedAt | date: "short"}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia>
    <p>Nenhuma transferência cadastrada</p>
  </ng-template>
</section>
