<header>
  <a routerLink="observador">GDH Web</a>
  <a routerLink="extrato" routerLinkActive="ativo">Extrato de Leituras</a>
  <a routerLink="observador" routerLinkActive="ativo">Observadores</a>
  <a routerLink="nova-transferencia" routerLinkActive="ativo">Nova Leitura</a>
</header>
  <main>
  <router-outlet></router-outlet>
</main>
