<section class="container">
<form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario__titulo" align=center >Nova Leitura</h2>
    <div class="form-field">
      <label class="form-field__label" for="observador">ID do Obsservador</label>
      <input class="form-field__input" id="observador" type="text" [(ngModel)]="observador" name="observador"/>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="estacao">Código da Estação</label>
      <input class="form-field__input" id="estacao" type="text" [(ngModel)]="estacao" name="estacao" />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="dialeitura">Dia da Leitura</label>
      <input class="form-field__input" id="dialeitura" type="date" [(ngModel)]="dialeitura" name="dialeitura" />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="horaleitura">Hora da Leitura</label>
      <input class="form-field__input" id="horaleitura" type="time" [(ngModel)]="horaleitura" name="leitura" />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="leitura">Valor da Leitura (cm)</label>
      <input class="form-field__input" id="leitura" type="number" [(ngModel)]="leitura" name="leitura" />
    </div>
    <div class="botao-wrapper">
      <button class="botao" type="submit" >Transferir</button>
    </div>
  </form>
</section>
